<p>
  cdk-drag-and-drop works!
</p>

<div
  cdkDropList
  class="example-list"
  [cdkDropListData]="movies"
  (cdkDropListDropped)="drop($event)"
  [cdkDropListConnectedTo]="[doneList]"
>
  <div 
    class="example-box"
    *ngFor="let movie of movies"
    (cdkDragStarted)="dragStarted($event)"
    (cdkDragEnded)="dragEnded($event)"
    cdkDrag
  >
    {{movie}}
  </div>
</div>


<h2>Done</h2>

<div
  cdkDropList
  class="example-list"
  #doneList="cdkDropList"
  [cdkDropListData]="done"
  [cdkDropListConnectedTo]="[todoList]"
  (cdkDragStarted)="dragStarted($event)"
  (cdkDropListDropped)="drop($event)"
>
  <div 
    class="example-box"
    *ngFor="let item of done"
    (cdkDragStarted)="dragStarted($event)"
    cdkDrag
  >{{item}}</div>
</div>
